# This workflow implements one of the final stages of the release pipeline.
# It publishes the package to the npm registry: https://www.npmjs.com/package/vitus
#
# It is triggered by pushing a Git tag with a `v` prefix, as done by the `publish-tag.yml` workflow.
#
# It can be triggered manually via the GitHub CLI:
#   gh workflow run publish-npm.yml --ref <tag-name>
#   gh run watch
#
# It can also be triggered manually via the GitHub web interface:
#   https://github.com/spdiswal/vitus/actions/workflows/publish-npm.yml

name: Publish / npm

on:
  push:
    tags:
      - v*
  workflow_dispatch:

# Cancel all previous runs of this workflow that are still in progress on the same branch.
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: publish-npm-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# All third-party actions are pinned to a specific commit SHA for security reasons.
# https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
jobs:
  integrity:
    name: Integrity
    permissions:
      # To call reusable workflows.
      contents: read
    uses: ./.github/workflows/integrity.yml

  npm-package:
    name: npm package
    needs: integrity
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      # To check out the repository.
      contents: read
      #
      # To publish the npm package with provenance.
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        #
      - name: Restore build artifacts
        uses: ./.github/actions/build-artifacts
        #
      - name: Install dependencies
        uses: ./.github/actions/dependencies
        #
      - name: Set the target npm registry and prepare an auth token
        # language=sh
        run: echo '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}\nregistry=https://registry.npmjs.org/' > .npmrc
        shell: bash
        #
      - name: Publish the package to npm
        uses: rainstormy/release/npm@eb87dc4ba5e9e89451adce4a3c62538e5ecef809 # v1.1.1
        with:
          access-level: public
          npm-auth-token: ${{ secrets.RELEASE_AUTHOR_NPM_TOKEN }}
          packagejson-excluded-fields: |
            // dependencies
            // devDependencies
            // peerDependencies
