# This workflow implements the second stage of the release pipeline.
# It creates a full semantic version tag in Git on the merge commit from the release branch.
#
# It is triggered by merging the pull request from the `release.yml` workflow.

name: Publish / Tag

on:
  pull_request:
    branches:
      - main
    paths:
      - package.json
    types:
      - closed

# Cancel all previous runs of this workflow that are still in progress on the same branch.
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: publish-tag-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# All third-party actions are pinned to a specific commit SHA for security reasons.
# https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
jobs:
  tag:
    name: Tag
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'release/')
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions: { }
    steps:
      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # Use a separate access token to allow the push tag event in this workflow to trigger the subsequent `publish-github.yml` and `publish-npm.yml` workflows.
          # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#triggering-a-workflow-from-a-workflow
          token: ${{ secrets.RELEASE_AUTHOR_GH_AUTH_TOKEN }}
        #
      - name: Use the release author's identity in Git
        uses: ./.github/actions/git-committer-identity
        with:
          email-address: ${{ secrets.RELEASE_AUTHOR_EMAIL_ADDRESS }}
          full-name: ${{ secrets.RELEASE_AUTHOR_FULL_NAME }}
          ssh-public-key: ${{ secrets.RELEASE_AUTHOR_SSH_PUBLIC_KEY }}
          __ssh-private-key__: ${{ secrets.RELEASE_AUTHOR_SSH___THE___PRIVATE___KEY }}
          ssh-key-fingerprints-github: ${{ secrets.SSH_KEY_FINGERPRINTS_GITHUB }}
        #
      - name: Create a full semantic version tag in Git
        uses: rainstormy/release/tag@eb87dc4ba5e9e89451adce4a3c62538e5ecef809 # v1.1.1
        with:
          version: ${{ github.head_ref }}
